<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ServletController</display-name>
    <servlet-name>ServletController</servlet-name>
    <servlet-class>ServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletController</servlet-name>
    <url-pattern>/ServletController</url-pattern>
  </servlet-mapping>
  <display-name>projeto</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreateController</display-name>
    <servlet-name>CreateController</servlet-name>
    <servlet-class>ServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateController</servlet-name>
    <url-pattern>/CreateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarClienteServletController</display-name>
    <servlet-name>AlterarClienteServletController</servlet-name>
    <servlet-class>AlterarClienteServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarClienteServletController</servlet-name>
    <url-pattern>/AlterarClienteServletController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdicionarEnderecoCobrancaServletController</display-name>
    <servlet-name>AdicionarEnderecoCobrancaServletController</servlet-name>
    <servlet-class>AdicionarEnderecoCobrancaServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdicionarEnderecoCobrancaServletController</servlet-name>
    <url-pattern>/AdicionarEnderecoCobrancaServletController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdicionarEnderecoEntregaServletController</display-name>
    <servlet-name>AdicionarEnderecoEntregaServletController</servlet-name>
    <servlet-class>AdicionarEnderecoEntregaServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdicionarEnderecoEntregaServletController</servlet-name>
    <url-pattern>/AdicionarEnderecoEntregaServletController</url-pattern>
  </servlet-mapping>
</web-app>